<div>
  <div align="center">
      <button type="submit" class="button" class="btn" (click)='showAdd()' >Add line</button>  
      <button type="submit" class="button" class="btn" (click)='showEdit()' >Edit line</button>  
      <button type="submit" class="button" class="btn" (click)='showDelete()'>Delete line</button>  
  </div>

  <!-- Kreiranje mape -->
  <div style="width:50%; height: 50%; margin: 5% 25%">
      <agm-map  [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="18">  
        <agm-marker *ngFor="let station of stations" [latitude]="station.Latitude" [longitude]="station.Longitude" [title]="station.Name"
        [label]="" [iconUrl]="iconUrl" (markerClick) = "stationClick(station.Id)">
    
          <!-- Svakom markeru dodajemo info-window (Nije obavezno!) -->
          <agm-info-window [latitude]="station.Latitude" [longitude]="station.Longitude" >
            <span style="font-family:'Times New Roman'; color:gray;"><strong>{{station.Name}}</strong></span>
            <span style="font-family:'Times New Roman'; color:gray;"><strong>{{station.AddressStation}}</strong></span>
            <!-- <span style="font-family:'Times New Roman'; color:gray;">Bulevar oslobođenja 131</span> -->
            <!-- <a [href]="markerInfo.link">See the site.</a> -->
          </agm-info-window>
      </agm-marker>

      <agm-polyline [strokeColor]="polyline.color">
          <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude">
          </agm-polyline-point>
      </agm-polyline>

      </agm-map>
  </div>

  <div *ngIf="isSelectedAdd()">
      <!-- <h3>Add line</h3> -->
      <form #lineForm="ngForm" (ngSubmit)="onSubmit(lineForm.value, lineForm)">
          <div class="form-group">
            <label for="RegularNumber">Regular Number</label>
            <input required type="number" class="form-control" name="RegularNumber" value="{{regularNumber}}" ngModel>
          
          <div align="center">
              <button type="submit" class="button" class="btn">Add line</button>  
          </div>
        </div>
      </form>
  </div>

  <div *ngIf="isSelectedEdit()">
      <!-- <h3>Edit line</h3> -->
      <form #lineForm="ngForm" (ngSubmit)="onSubmitEdit(lineForm.value, lineForm)">
          <div class="form-group">
            <label for="RegularNumber">Regular Number</label>
            <input required type="number" class="form-control" name="RegularNumber" value="{{regularNumber}}" ngModel>
            <div align="center">
              <button type="submit" class="button" class="btn">Save changes</button>  
            </div>
        </div>
      </form>
  </div>

  <div *ngIf="isSelectedDelete()">
      <!-- <h3>Delete line</h3> -->
      <form #lineForm="ngForm" (ngSubmit)="onSubmitEdit(lineForm.value, lineForm)">
          <div class="form-group">
              <div align="center">
                  <button type="submit" class="button" class="btn">Delete line</button>  
              </div>
          </div>
      </form>

      <div>
          <label for="Stations">Selected stations:</label>
          <div *ngFor="let station of selectedStations">
              <label><b>{{station.Name}}</b></label><br/>
              <label>{{station.AddressStation}}</label><br/><br/>
          </div>
        </div> 

  </div>




  


</div>