<div *ngIf="user" class="container">
  <div *ngIf="user.Activated">
    <div class="col-md-12">
      <h3>Authorize awaiting controllers </h3>
      <ul class="list-group" *ngFor="let awaitingController of awaitingControllers; let i = index">
        <li class="list-group-item">{{awaitingController.Name}} <span class="pull-right" style="float:right">
          <button class="btn btn-success btn-small" (click)="AuthorizeControllers(awaitingController.Id,i)">Authorize Controller</button>
        </span>
      </li>
      </ul>

     </div>
    <div class="col-md-12">
        <h3>Authorize awaiting admins </h3>
        <ul class="list-group" *ngFor="let awaitingAdmin of awaitingAdmins; let i = index">
          <li class="list-group-item">{{awaitingAdmin.Name}} <span class="pull-right" style="float:right">
            <button class="btn btn-success btn-small" (click)="AuthorizeAdmins(awaitingAdmin.Id,i)">Authorize Admin</button>
          </span>
        </li>
        </ul>
      </div>

      <div class="col-md-12">
          <h3>Authorize awaiting appUser </h3>
          <ul class="list-group" *ngFor="let awaitingAppUser of awaitingAppUsers; let i = index">
            <li class="list-group-item">{{awaitingAppUser.Name}} <span class="pull-right" style="float:right">
              <button class="btn btn-success btn-small" (click)="AuthorizeAppUsers(awaitingAppUser.Id,i)">Authorize appUser</button>
            </span>
          </li>
          </ul>
        </div>

   </div>
</div> 